<%= render 'shared/header' %>

<%= link_to "All images", images_path %>
<h1><%= @image.title %></h1>
<%= form_with model: @image do |f| %>
  <div class="field"><%= f.text_field :url, placeholder: "URL" %></div>

  <div class="field"><%= f.text_field :title, placeholder: "Title" %></div>

  <div class="field">
    <%= f.check_box :favorite %>
    <%= f.label :favorite, "Favorite?" %>
  </div>

  <div class="field">
    <%= f.label :mediatype, "Media type" %><br>
    <%= f.select(:mediatype, [['image','image'],['video','video'],['link','link']]) %><br>
  </div>

  <div class="field">
    <h3>Categories</h3>
    <% if current_user.categories.all.size == 0 %>
      (no categories)
    <% end %>
    <% current_user.categories.all.each do |category| %>
      <%= f.fields_for category do |category_form| %>
        <%= category_form.check_box category.id, { checked: @image.categories.exists?(category.id) ? true : false } %>
        <%= category_form.label category.title %><br>
      <% end %>
    <% end %>
  </div>

  <%= f.submit "Update image" %>
<% end %><br>
<%= link_to "Delete image", image_path(@image.id), method: :delete, data: { confirm: "Are you sure?" } %>
